/*
* Programmer Name
* Date
* Description of Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */


h1 {
text-align: center
text-decoration: underline overlive;
}

body { 
font-family: Impact, Arial, Helvetica;
font-size: 87.5%;
background-color: yellow;
color: black;

}


img  { float: right; } 
